<!-- custom_1 -->
<table cellpadding="0" cellspacing="0" width="100%" border="0">
   <tr>
      <td>
         <div align="left">
            <TABLE style="width: 100%;" cellpadding="5" border="0" cellspacing="5">
               <TBODY>
                  <TR>
                     <TD colspan="2" style="width: 50%;" align="left" valign="top">
                        <H1>Lot-Transforming Tree Trimming &amp; Yard Cleanup</H1>
                     </TD>
                  </TR>
                  <TR>
                     <TD colspan="2" align="left" valign="top">
                        <P>Clear up your yard and have your lot looking beautiful with tree trimming and yard cleanup from S&amp;B Tree L.L.C. in Lakeville, Pennsylvania. We partner with you to create and maintain the healthy, vibrant looking yard you deserve.</P>
                     </TD>
                  </TR>
                  <TR>
                     <TD style="width: 90%;" align="left" valign="top">
                        <H2>Tree Trimming</H2>
                        <P>If you don&rsquo;t want a tree completely removed but still want it touched up, our team trims back and tops your tree, shaping it exactly the way you desire. We keep your trees looking vibrant and healthy every time.<BR>&nbsp;</P>
                        <H2>Utility Line Trimming</H2>
                        <P>Trying to trim trees that are near utility lines is extremely dangerous. Instead of assuming the risk yourself, trust our trained professionals to handle your utility line trimming. Our team has years of experience dealing with and around power lines, and knows how to handle your trees with safety and care.<BR>&nbsp;</P>
                        <H2>Lot Clearing</H2>
                        <P>A lawn full of debris is never a pretty sight. That is why our customers love our cleanup services that clear the lot for whatever the need is. We use a chipper to convert your tree debris into smaller pieces of cut up wood that we can either haul off ourselves or leave for you for firewood or other practical uses.</P>
                     </TD>
                  </TR>
                  <TR>
                     <TD colspan="2" align="left" valign="top">
                        <H2>Leaving Every Site Clean</H2>
                        <P>No matter what service we provide, we leave every job site clean. It is our aim to make it appear as though we were never even there &ndash; the only indication being the clean removal or trimming of your tree that leaves your landscape looking better than ever.</P>
                     </TD>
                  </TR>
                  <TR>
                     <TD colspan="2" style="TEXT-ALIGN: center" valign="top">
                        <STRONG></STRONG>
                        <P><STRONG>Contact us for safe tree trimming and yard cleanup that beautifies your property.&nbsp;</STRONG></P>
                     </TD>
                  </TR>
               </TBODY>
            </TABLE>
         </div>
         <br style="clear:both;">
         <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
               <td></td>
            </tr>
         </TABLE>
   </tr>
</table>
<!-- END-OF custom_1 -->
