/*------------------------------------*\
    $SITE MAIN
\*------------------------------------*/

html,
body {
  overflow-x: hidden;
}
body {
  background: $background-color;
  font: 400 100%/1.3 $font;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  color: $body-color;
}
