/*------------------------------------*\
    $FOOTER
\*------------------------------------*/

.footer {
  padding-top: $pad;
  padding-bottom: $pad;

}

.footer--inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  @include font--s;
  @include media('>medium') {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer-logo {
  display: none;
  @include media('>medium') {
    display: block;
    width: rem(80);
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
  }
}
