/*------------------------------------*\
    $ANIMATIONS & TRANSITIONS
\*------------------------------------*/

/**
 * Transitions
 */
.trans {
  @include transition;
}

//  Animations
.inviewable {
  visibility: hidden;
  &.inview {
    visibility: visible;
  }
}

// Animation Delays
$staggerTime: 0.25s;

.delay-1, .inviewable.inview.delay-1, .inviewable.inview > .delay-1 {
  animation-delay: $staggerTime*1;
}
.delay-2, .inviewable.inview.delay-2, .inviewable.inview > .delay-2  {
  animation-delay: $staggerTime*2;
}
.delay-3, .inviewable.inview.delay-3, .inviewable.inview > .delay-3 {
  animation-delay: $staggerTime*3;
}
.delay-4, .inviewable.inview.delay-4, .inviewable.inview > .delay-4 {
  animation-delay: $staggerTime*4;
}
.delay-5, .inviewable.inview.delay-5, .inviewable.inview > .delay-5 {
  animation-delay: $staggerTime*5;
}
.delay-6, .inviewable.inview.delay-6, .inviewable.inview > .delay-6 {
  animation-delay: $staggerTime*6;
}
.delay-7, .inviewable.inview.delay-7, .inviewable.inview > .delay-7 {
  animation-delay: $staggerTime*7;
}
.delay-8, .inviewable.inview.delay-8, .inviewable.inview > .delay-8 {
  animation-delay: $staggerTime*8;
}


@include keyframes(fadeInAnim) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
// Animation Effects
.inview .inview-fadeIn {
   animation: fadeInAnim 0.5s ease-in 0.0s;
   animation-fill-mode: both;
}

// Fade in and slide up from bottom
.fade-up {
  transform: translateY(40px);
  animation: fade-up 1.4s $cubic-bezier forwards;
}
@keyframes fade-up {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

// Fade in and slide right from left
.fade-right {
  transform-origin: center left;
  transform: translateX(-20px);
  animation: fade-right .4s ease-out forwards;
}
.fade-right:nth-child(even) {
  animation-delay: 300ms;
}
@keyframes fade-right {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
// Fade in and slide left from right
.fade-left {
  transform-origin: center right;
  transform: translateX(20px);
  animation: fade-left .4s ease-out forwards;
}
.fade-left:nth-child(even) {
  animation-delay: 300ms;
}
@keyframes fade-left {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.has-odd-animation {
  .fade-up:nth-child(even) {
    animation-delay: 200ms;
  }
}
.has-delay-animation {
  @for $i from 1 through 20 {
  	.fade-up:nth-child(#{$i}) {
      animation-delay: #{$i}00ms;
  	}
  }
}
