/*------------------------------------*\
    $ICONS
\*------------------------------------*/

.icon {
  display: inline-block;
}
.icon--xs {
  width: rem(10);
  height: rem(10);
}
.icon--s {
  width: rem(20);
  height: rem(20);
}
.icon--m {
  width: rem(30);
  height: rem(30);
}
.icon--xl {
  width: rem(80);
  height: rem(80);
}
.icon--quote {
  font-size: rem(80);
  line-height: rem(16);
  font-family: 'georgia';
  margin-bottom: 0;
  position: relative;
  color: $gold;
  &--right {
    top: rem(15);
  }
}
