/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/

.btn,
button,
input[type="submit"] {
  @include font--primary--s;
  display: table;
  padding:$pad-half $pad;
  vertical-align: middle;
  cursor: pointer;
  color: $white;
  background-color: $button-color;
  box-shadow: none;
  border: none;
  @include transition;
  @include media('>medium') {
    padding:$pad-quarter $pad-and-half rem(7) $pad-and-half;
  }
  &:focus {
    outline: 0;
  }
  &:hover {
    background-color: $button-hover;
  }
}
